@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url(//fonts.googleapis.com/earlyaccess/notokufiarabic.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanskufiarabic.css);
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  'Droid Arabic Kufi', serif;
    /*font-family: 'Cairo', sans-serif;*/

}
.hero{
  position: relative;
    width: 100%;
    height: 100vh;
    background: url("../images/desktop.jpg");
    background-size: 100% 100%;
}

.call_to_action{
  position: absolute;
  bottom: 50px;
  right: 110px;
  font-size: 28px;
  font-weight: bold;
  padding: 10px;
}
.calling{
    position: absolute;
    bottom: 50px;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    color: white;
    line-height: 1;
    text-align: right;
    left: 120px;
}
.calling i{
    font-size: 50px;
    position: relative;
    top: -15px;
    left: -20px;
}
.calling:hover,
.calling:active,
.calling:hover i,
.calling:active i,
.calling span i{
    color: white !important;
}

i.fas.fa-phone{
    color: black;
}
ul.social{
    list-style: none;
    position: fixed;
    top: 40%;
    right: 0px;
}
ul.social li{
    display: block;
    padding: 10px;
    font-size: 18px;
    border-bottom: 1px solid #fff;
    background: #121250;
    cursor: pointer;
}
ul.social li:hover,
ul.social li:active{
    background: rgb(24 24 107);
}
ul.social li:last-child {
    border-bottom: none;
}
ul.social li a i{
    color: white;
}
@media screen and (max-width: 922px){
    .hero{
        background: url("../images/mobile.jpg");
        background-size: 100% 100%;
    }
    /*.desktop{*/
    /*    display: none !important;*/
    /*}*/
    /*.mobile{*/
    /*    display: block !important;*/
    /*}*/
    .call_to_action {
        position: absolute;
        bottom: 50%;
        font-size: 18px;
        font-weight: bold;
        padding: 10px;
        right: 30%;
        left: 30%;
    }
    .calling{
        right: 30%;
        font-size: 18px;
        /*bottom: 40%;*/
    }
    .calling i{
        font-size: 40px;
    }

;
}
@media screen and (min-width:1600px){
    .call_to_action {
        right: 100px;
    }
}